.radio-block{
    margin-bottom: 15px;
}
.followed,
.class-checked{
    background-color: #061237 !important;
    color: #fff !important;
}
.followed.cancel{
    background-color: #d9534f !important;
}
.text-underline{
    text-decoration: underline !important;
}

.btn-bordered{
    background-color: #fff !important;
    border: 1px solid #061237;
    color: #061237 !important;
}


.elearning-section {
    background-image: url(../img/elearning/elearning-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    padding: 0;
}

.all-sections .section-title {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 70px 0 50px;
    margin-bottom: 15px;
}

.elearning-section .nav-pills {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    padding: 0 10px;
}

.elearning-section .nav-pills li {
    width: 90px;
    text-align: center;
    height: 90px;
    background-color: #eceff8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.elearning-section .nav-pills li a{
    background-color: transparent;
    color: #061237;
}

.elearning-section .nav-pills li.active{
    background-color: #061237;
    color: #fff;
}
.elearning-section .nav-pills li.active a.active,
.elearning-section .nav-pills li.active a {
    background-color: transparent;
    color: #fff;
}

.elearning-section .section-content {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 40px 0;
}

.elearning-section .section-content h3 {
    color: #061237;
}

.teacher-card,
.student-card{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid #fff;
    margin-bottom: 30px;
}

.teacher-card:hover{
    border-color: rgb(210, 216, 236);
    background-color: rgb(244, 244, 249);
}

.student-card .image,
.teacher-card .image{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    float: right;
}

.student-card .image img,
.teacher-card .image img {
    width: 100%;
    height: 100%;
}

.teacher-card .info {
    width: calc(100% - 180px);
    display: inline-block;
    padding: 0 10px;
}

.teacher-card .info p{
    margin-bottom: 0;
    font-size: 15px;
}

.teacher-card .action {
    width: 120px;
    display: inline-block;
}

.btn{
    color: #061237;
}
.mt-2{
    margin-top: 20px;
} 
.mb-2{
    margin-bottom: 20px;
}
.profile-section .class-item .action .btn,
.teacher-card .action .btn{
    width: 115px;
}

@media (max-width: 768px){
    .elearning-section .nav-pills{
        display: block;
        text-align: center;
    }
    .elearning-section .nav-pills li{
        float: right;
        margin-bottom: 20px;
    }
}

.banner-setion-all{
    position: relative;
}
.banner-setion-all .avatar{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid #fff;
    position: absolute;
    bottom: -40px;
    right: 0;
    left: 0;
    display: inline-block;
    margin: auto;
}

.banner-setion-all .avatar img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.banner-setion-all .avatar input{
    opacity: 0;
    position: absolute;
    z-index: 2;
}

.banner-setion-all .avatar label{
    z-index: 3;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    line-height: 100px;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.banner-setion-all .avatar:hover label{
    opacity: 1
}

.rating-read li{
    padding: 0;
}
.rating-read .active{
    color: #ebb113;
}

.profile-section{
    padding: 0;
}

.profile-section .section-title .teacher-bio{
    max-width: 600px;
    margin: auto;
    padding: 0 15px;
}

.profile-section .nav-pills{
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}

.profile-section .nav-pills li{
    margin: 0 !important;
    text-align: center;
    float: right;
    padding: 10px;
}

.profile-section .nav-pills li.active a{
    background-color: #061237;
}
.profile-section .tab-content .tab-pane{
    background-color: transparent;
    padding: 0;
}
.profile-section .student-card,
.profile-section .class-item{
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 1.6rem;
}

.profile-section .class-item .details{
    width: calc(100% - 120px);
    display: inline-block;
}

.profile-section .class-item .details p{
    margin-bottom: 0;
    font-size: 15px;
}

.profile-section .class-item .action{
    width: 120px;
    display: inline-block;
}

.student-card .info {
    width: calc(100% - 60px);
    display: inline-block;
    padding: 0 10px;
}

.profile-section .content-title{
    color: #061237;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    overflow: hidden;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-section .content-title h3{
    margin-bottom: 0;
}

.profile-section .login-section{
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.profile-section .login-section form .button{
    margin: auto;
    display: inline-block;
}
.profile-section .login-section form .button button,
.profile-section .login-section form .buttons a{
    display: inline-block;
    margin: 0 10px;
    float: right;
}

.elearning-addClass .radio-blk{
    overflow: hidden;
}
.elearning-addClass .radio-blk .float-r{
    margin-left: 15px;
    min-width: 125px;
}

@media (max-width: 540px){
    .profile-section .class-item,
    .teacher-card {
        display: block;
    }

    .profile-section .class-item .details{
        width: 100%;
        display: block;
    }
    .teacher-card .info{
        width: calc(100% - 60px);
        height: 60px;
    }
    .profile-section .class-item .action,
    .teacher-card .action {
        width: 100%;
        display: block;
        margin-top: 10px;
    }
}