.news-holder p {
    margin-bottom: 5px;
}

.news-holder {
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.news-headlines {
    list-style: none;
    position: relative;
}

.news-headlines li {
    padding: 5px;
    margin-bottom: 15px;
    position: relative;
    z-index: 20;
    color: #336699;
    box-shadow: 0 0 10px 0 #ddd;
    border-radius: 10px;
    background: #fff;
}
.news-headlines li:hover, a:hover {
    cursor: pointer;
    transition: 0.7s;
}
.news-headlines li{
    border: 1px solid transparent;
    transition: 0.7s;
}
.news-headlines li.selected{
    border: 1px solid #ddd;
    box-shadow: 0 0 15px 0 #ddd;
    transition: 0.7s;
    transform: scale(1.03);
}
.news-holder-first {
    float: left;
    width: 40%;
}

.news-preview {
    box-shadow: 0 0 10px 0 #ddd;
    width: 57.4%;
    background: #fff;
    position: relative;
    z-index: 5;
    position: relative;
    border-radius: 10px;
}
.news-preview .img{
    width: 100%;
    height:315px;
    margin: 0 auto 20px auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.news-preview img {
    display: block;
    border: solid 1px transparent;
    border-radius: 10px;
    width: 100%;
}

.news-content {
    position: relative;
    background: #fff;
    z-index: 10;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    border-radius: 10px;
}

.top-content {
    display: block;
}
.news-headlines ul{
    display: flex;
}
.news-headlines ul li{
    box-shadow: 0 0 0 0;
    padding: 0;
}
.news-headlines ul .first-li{
    width: 37%;
    margin-left: 10px;
    margin-bottom: 0px;
}
.news-headlines ul .second-li{
    width: 60%;
    height: 100%;
    margin-bottom: 0;
}
.news-headlines ul li .img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.news-headlines ul li .img img{
    width: 100%;
    height: 100%;
}
.news-headlines ul li h3{
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
}
.news-headlines ul li h4{
    font-size: 12px;
    margin-top: 5px;
    color: #999;
}
.news-headlines ul li p{
    color: #999;
    font-size: 13px;
    line-height: 19px;
    margin-top: 5px;
}
.news-preview h3{
    font-size: 15px;
    margin-bottom: 11px;
    line-height: 20px;
}
.news-preview h4{
    font-size: 12px;
    margin-top: 5px;
    color: #999;
}
.news-preview p{
    color: #999;
    font-size: 14px;
    line-height: 19px;
    margin-top: 12px;
    margin-bottom: 5px;
}
.news-holder-link{
    line-height: 45px;
    height: 45px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    display: block;
    /* color: rgba(6 ,18 ,55 ,1); */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    border: 1px solid rgba(6 ,18 ,55 ,1);
    overflow: hidden;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}
.news-holder-link span{
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.news-holder-link::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 225px solid rgba(6 ,18 ,55 ,0.8);
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate(80px,0px);
    transform: translate(80px,0px);
}
.news-holder-link::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 225px solid rgba(6 ,18 ,55 ,0.8);
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate(80px,0px);
    transform: translate(80px,0px);
}
.news-holder-link::after{
    -webkit-transition-delay: 0.2s; /* Safari */
    transition-delay: 0.2s;
}
.news-holder-link:hover::before{
    opacity: 1;
    -webkit-transform: translate(80px,-225px);
    transform: translate(80px,-225px);
}
.news-holder-link:hover::after{
    opacity: 1;
    -webkit-transform: translate(80px,-225px);
    transform: translate(80px,-225px);
}
.news-holder-link:hover span {
    color: #fff;
    transition: all 1s;
    font-weight: 400;
    font-size: 18px;
}
.news-holder-link span {
    position: relative;
    z-index: 9;
    transition: all 1s;
}